<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="EPuzzle\FileUploader\Api\Data\FileInterface" type="EPuzzle\FileUploader\Model\File"/>
    <preference for="EPuzzle\FileUploader\Api\Data\FileSearchResultsInterface" type="EPuzzle\FileUploader\Model\FileSearchResults"/>
    <preference for="EPuzzle\FileUploader\Api\FileRepositoryInterface" type="EPuzzle\FileUploader\Model\FileRepository"/>

    <preference for="EPuzzle\FileUploader\Api\Data\FileUploaderSettingsInterface" type="EPuzzle\FileUploader\Model\FileUploaderManagement\FileUploaderSettings"/>
    <preference for="EPuzzle\FileUploader\Api\FileUploaderManagementInterface" type="EPuzzle\FileUploader\Model\FileUploaderManagement"/>

    <preference for="EPuzzle\FileUploader\Api\FileResolverInterface" type="EPuzzle\FileUploader\Model\FileUploaderManagement\Upload\FileResolver"/>

    <type name="EPuzzle\FileUploader\Model\File">
        <arguments>
            <argument name="context" xsi:type="object">EPuzzle\FileUploader\Model\File\Context\Proxy</argument>
        </arguments>
    </type>
    <type name="EPuzzle\FileUploader\Model\File\Context">
        <arguments>
            <argument name="fileDriver" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>

    <type name="EPuzzle\FileUploader\Model\FileUploaderManagement\Upload\FileResolver">
        <arguments>
            <argument name="resolvers" xsi:type="array">
                <item name="uploader" xsi:type="object">EPuzzle\FileUploader\Model\FileUploaderManagement\Upload\FileResolver\Uploader</item>
                <item name="external_link" xsi:type="object">EPuzzle\FileUploader\Model\FileUploaderManagement\Upload\FileResolver\ExternalLink</item>
                <item name="system_file" xsi:type="object">EPuzzle\FileUploader\Model\FileUploaderManagement\Upload\FileResolver\SystemFile</item>
            </argument>
        </arguments>
    </type>
</config>
